body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin-top: -40px;
    color: rgb(52,144,145);
    animation-name: animation;
    animation-duration: 7s;
    font-family: Impact, fantasy;
}

@keyframes animation {
    0%  {color: rgb(229, 255, 246);}
    25%  {color: rgb(251,208,28);}
    50%   {color:  rgb(240,53,89);}
    100% {color:rgb(52,144,145);}
}

.java-info {
    margin: 0 70px;
    font-family: Andale Mono, monospace;
}

h3 {
    color: rgb(229,34,61);
}

.java-info img {
    border: 2px solid rgb(251,208,28);
}

.footer {
    position:absolute;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(52, 144, 145);
    color: white;
    text-align: center;
}
